USE [master]
GO
/****** Object:  Database [CesgranrioTestDB]    Script Date: 13/06/2021 18:50:35 ******/
CREATE DATABASE [CesgranrioTestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CesgranrioTestDB', FILENAME = N'C:\Users\walla\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\CesgranrioTestDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CesgranrioTestDB_log', FILENAME = N'C:\Users\walla\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\CesgranrioTestDB.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CesgranrioTestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CesgranrioTestDB]
GO
USE [CesgranrioTestDB]
GO
/****** Object:  Table [dbo].[Alunos]    Script Date: 13/06/2021 18:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alunos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
	[Nota] [int] NULL,
	[Revisao] [bit] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 13/06/2021 18:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Gestor] [varchar](50) NULL,
	[Descricao] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dependentes]    Script Date: 13/06/2021 18:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dependentes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome1] [varchar](50) NULL,
	[Nome2] [varchar](50) NULL,
	[FuncionarioId] [int] NULL,
 CONSTRAINT [PK_Dependente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 13/06/2021 18:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[CPF] [varchar](50) NULL,
	[Telefone] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[DataNascimento] [varchar](50) NULL,
	[DepartamentoId] [int] NULL,
 CONSTRAINT [PK_Funcionario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dependentes]  WITH CHECK ADD  CONSTRAINT [FK_Dependente_Funcionario] FOREIGN KEY([FuncionarioId])
REFERENCES [dbo].[Funcionarios] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dependentes] CHECK CONSTRAINT [FK_Dependente_Funcionario]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Quando dependente for salvo, ele deverá levar o Id do Funcionario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Dependentes', @level2type=N'CONSTRAINT',@level2name=N'FK_Dependente_Funcionario'
GO
USE [master]
GO
